<%-include('./partials/_dash_header.ejs')%>
<% value.forEach((val)=>{ %>
<form action="/auth/dashboard/update/<%=val.pid%>" method="post">
<div class="login">
    <div class="login-header">
      <h2>Rent property</h2>
    </div>
    <div class="login-form">
      
      <h3>Location</h3>
      <input type="text"  name="location" value="<%=val.location%>"/>
      <h3>Price</h3>
      <input type="number"  name="price" value="<%=val.price%>"/>
      <h3>Description</h3>
      <input type="textarea"  name="desc" value="<%=val.description%>"/>
      <br>
      <button type="submit" class="login-button">Update</button>
      <br>
      <% }) %>
  </div>
  </div>
</form>

<%-include('./partials/_footer.ejs')%>